body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/tic-tac-toe.png");
  background-repeat: repeat;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

.container-bg {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 6rem;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #808080;
}

a:hover {
  color: #017ae1;
  text-decoration: none;
}

/* Classes & IDs */

.link {
  color: #808080;
}

#logo {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #017ae1;
}

.footer {
  position: fixed;
  background-color: #e3e3e3;
  bottom: 0;
  width: 100%;
  height: 3rem;
  padding-top: 1%;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}

/* Navigation & Typography */

li {
  list-style: none;
  display: inline-block;
}

p {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 2em;
  color: #808080;
}

h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 24px;
  font-weight: bold;
  color: #017ae1;
}

/* Form */

#contact-form{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  color: #808080;
}

input {
  margin-bottom: 1%;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 2px;
}

textarea {
  resize: none;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 2px;
}

label {
  font-size: 14px;
  color: #808080;
}

input[value] {
  color: #ccc;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #017ae1;
    border: none;
    color: white;
    padding: 10px 22px;
}

input[type=text] {
  width: 40.5%;
}

input[type=submit] {
  width: 10%;
}

@media (max-width: 700px) {

  .container-bg {
    padding: 3%;
    background-color: #fff;
  }
}
